/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/

/* ------------------------------------------------ Variables */
:root{
    --grayblack-color:#1D252C;
    --gray-color:#626262;
    --white-color:#FFFFFF;
    --celeste-color:#026FFF;
    --arena-color:#FAFAFA;
    --celestito-color:#F4FBFF;
    --platzi-color:#7DC900;

    /* tipografía */
    --normal-font:'Source Sans Pro', sans-serif;
    --title-font:'Fjalla One', sans-serif;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: var(--white-color);
    font-family: var(--normal-font);
    perspective: 200px;
    /* perspective-origin: center; Por defecto*/
    /*----- perspective-origin: x y; -----*/
    perspective-origin: top;
    /* perspective-origin: bottom; */
    /* perspective-origin: left; */
    /* perspective-origin: right; */
    /* perspective-origin: top right; */
    /* perspective-origin: top left; */
    /* perspective-origin: bottom right; */
    /* perspective-origin: bottom left; */
}

.container{
    border: 2px solid rebeccapurple;
}

.container:hover .cuadrado{
    /* transform: translate(x); Movimiento en eje X */
    /* transform: translate(-100px); */

    /* transform: translate(y); Movimiento en eje Y*/

    /* transform: translate(x, y); Movimiento en ambos ejes*/
    /* transform: translate(100px, -200px); */

    /* transform: translateX(-100px); Movimiento en eje X */
    /*transform: translateY(100px); Movimiento en eje Y */
    /*transform: translateZ(100px); Movimiento en eje Z, se require tener la propiedad de perspective */

    /* transform: translate3d(x, y, z); */
    /* transform: translate3d(10px, 100px, 10px); */
    transform: translate3d(-10px, 100px, -100px);
}

.cuadrado{
    width: 200px;
    height: 200px;
    background: var(--platzi-color);
    margin: 20px;
    transition: 1s;
}

